/*
light mode photo colors
A9A48A tan
59A11F light green
246F12 dark green


dark mode photo colors
#01131f darkest blue
04283E navy blue
0083B8 lighter blue
606C7A moon grey
 */

body {
    color: #246F12;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-image: url("/assets/forest-day-blur.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dark-mode {
    background-image: url("/assets/dark-forest-blur.jpg");    
    height: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }

/* headers -----------------------*/

header {
    font-family: 'Inter', sans-serif;
    color: green;
    background-color: whitesmoke;
    border-radius: 1rem;
    padding: 1rem 2rem;
    text-align: center;
    margin: auto;
    width: 50%;
    
}

h1 {
    font-size: 2.5rem;
}

.dark-mode header {
    font-family: 'Inter', sans-serif;
    color: white;
    background-color: #04283E;
}



/* toggle button --------------------------*/
svg {
    height: 1.7rem;
    width: 1.5rem;
}

#sun {
    height: 2rem;
    width: 1.7rem;
}


#toggle-mode {
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	background-color:#89c403;
	border-radius:2rem;
	border:1px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	font-weight:bold;
	padding:11px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #246F12;
    margin-top: 2rem;
}

#toggle-mode:hover {
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	background-color:#77a809;
}

#toggle-mode:active {
    position:relative;
	top:1px;
}

.dark-mode #toggle-mode {
	box-shadow:inset 0px 1px 0px 0px #0084b8;
	background:linear-gradient(to bottom, #0084b8 5%, #04283e 100%);
	background-color:#0084b8;
	border-radius:2rem;
	border:1px solid #0084b8;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:"Roboto", sans-serif;
	font-size:14px;
	font-weight:bold;
	padding:11px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}

.dark-mode #toggle-mode:hover {
	background:linear-gradient(to bottom, #04283e 5%, #0084b8 100%);
	background-color:#04283e;
}

.dark-mode #toggle-mode:active {
    position:relative;
	top:1px;
}


/* articles div --------------------------*/
#articles {
    width: 50%;
    margin: auto;
    padding-bottom: 2rem;
}

#articles ul {
    text-transform: capitalize;
    background-color: whitesmoke;
    border-radius: 1rem;
    font-weight: bold;
    padding: 1.5rem 2rem;
    font-size: 1.2rem;
    box-shadow: 10px 10px 2px 1px #59A11F;
}


#articles li {
    list-style-type: none;
    color: #59A11F;
    font-size: 0.9rem;
    text-align: start;
    line-height: 1.8;
    font-weight: normal;
    margin-top: 0.5rem;
}

#articles a {
    font-size: 1rem;
    color: #74705c;
}

#articles a:hover {
    font-size: 1rem;
    color: #e7cf54;
}


.dark-mode #articles ul {
    text-transform: capitalize;
    color: #c6efff;
    background-color: #04283E;
    box-shadow: 10px 10px 2px 1px #01131f;
    border-radius: 1rem;
    padding: 1rem 1rem;
    font-size: 1.2rem;
}


.dark-mode #articles li {
    list-style-type: none;
    color: whitesmoke;
    font-size: 0.9rem;
    text-align: start;
    line-height: 1.8;
}

.dark-mode #articles a {
    font-size: 1rem;
    color: #c4ecfc;
}

.dark-mode #articles a:hover {
    font-size: 1rem;
    color: #0083B8;
}



/* jobs board -------------------------------- */
.job-section { 
    padding-top: 2rem;
    background-color: whitesmoke;
    
}

#jobs {
    width: 75%;
    margin: auto;
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
}

#jobs ul {
    text-transform: capitalize;
    background-color: whitesmoke;
    border-radius: 1rem;
    font-weight: bold;
    padding: 1.5rem 2rem;
    font-size: 1rem;
    border: 1px solid #59A11F;
    
}

#jobs li {
    list-style-type: none;
    color: #59A11F;
    font-size: 0.9rem;
    text-align: start;
    font-weight: normal;
    margin-top: 0.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

#jobs a {
    font-size: 1rem;
    color: #74705c;
}

#jobs a:hover {
    font-size: 1rem;
    color: #e7cf54;
}

.dark-mode .job-section { 
    background-color: #01131f;
}

.dark-mode #jobs ul {
    text-transform: capitalize;
    border-radius: 1rem;
    background-color: #04283E;
    font-weight: bold;
    padding: 1rem 1rem;
    font-size: 1rem;
    border: 1px solid #9ee5ff;
    color: #9ee5ff;
    line-height: 1.5rem;
}

.dark-mode #jobs li {
    list-style-type: none;
    color: whitesmoke;
    font-size: 0.9rem;
    text-align: start;
    font-weight: normal;
    margin-top: 0.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.dark-mode #jobs a {
    font-size: 1rem;
    color: #d1dce7;
}

.dark-mode #jobs a:hover {
    font-size: 1rem;
    color: #606C7A;
}

/* view jobs button 
#get-jobs {
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	background-color:#89c403;
	border-radius:2rem;
	border:1px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:"Roboto", sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:14px 68px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
    margin-top: 2rem;
}

#get-jobs:hover {
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	background-color:#77a809;
}

#get-jobs:active {
    position:relative;
	top:1px;
}

.dark-mode #get-jobs {
	box-shadow:inset 0px 1px 0px 0px #0084b8;
	background:linear-gradient(to bottom, #9ee5ff 5%, #0084b8 100%);
	background-color:#9ee5ff;
	border-radius:42px;
	border:1px solid #0084b8;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:"Roboto", sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:14px 68px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}

.dark-mode #get-jobs:hover {
	background:linear-gradient(to bottom, #0084b8 5%, #9ee5ff 100%);
	background-color:#0084b8;
}

.dark-mode #get-jobs:active {
    position:relative;
	top:1px;
} */


/* 
 form and button --------------------------*/ 
h2 {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    margin-top: 2rem;
}

.dark-mode h2 {
    color: whitesmoke;
}
form {
    padding: 2rem 2rem;
    background-color: #59A11F;
}

input {
    border-radius: 2rem;
    padding: 0.8rem 0.5rem;

}

.dark-mode form {
    background-color: #04283E;
}

#post-job {
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:linear-gradient(to bottom, #a4e271 5%, #8ac403 100%);
	background-color:#a4e271;
	border-radius:42px;
	border:1px solid #8ac403;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:"Roboto", sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:5px 28px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}

#post-job:hover {
    background:linear-gradient(to bottom, #8ac403 5%, #a4e271 100%);
	background-color:#8ac403;
}

#post-job:active {
    position:relative;
	top:1px;
}

.dark-mode #post-job {
	box-shadow:inset 0px 1px 0px 0px #0084b8;
	background:linear-gradient(to bottom, #9ee5ff 5%, #0084b8 100%);
	background-color:#9ee5ff;
	border-radius:2rem;
	border:1px solid #9ee5ff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:"Roboto", sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:5px 28px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}

.dark-mode #post-job:hover {
	background:linear-gradient(to bottom, #0084b8 5%, #9ee5ff 100%);
	background-color:#0084b8;
}

.dark-mode #post-job:active {
    position:relative;
	top:1px;
}