.light {
    color: white;
    background-image: url("/assets/forest-day.jpg");
}

.dark-mode {
    background-image: url("/assets/forest-night.jpeg");
    color: white;
  }

/* articles div */
#articles {
}

#articles ul {
    background-color: rgb(235, 230, 228);
    border: 2px solid red;
}

#articles li {

}


/* jobs board  */
#jobs {

}

#jobs ul {

}

#jobs li {

}

#jobs a {
    border: 1px solid black;
}