body {
    color: blue;
    background-image: url("/assets/forest-day.jpg");
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.dark-mode {
    background-image: url("/assets/forest-night.jpeg");
    color: white;
  }

/* headers -----------------------*/

header {
    font-family: 'Inter', sans-serif;
    color: green;
    background-color: white;
    border-radius: 2rem;
    padding: 1rem 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 2.5rem;
}



.dark-mode header {
    font-family: 'Inter', sans-serif;
    color: white;
    background-color: black;
}



/* toggle button --------------------------*/

#toggle-mode {
    font-family: 'Inter', sans-serif;
    background-color: green;
}

.dark-mode #toggle-mode {
    
}

/* articles div --------------------------*/
#articles {

}

#articles ul {
    background-color: rgb(235, 230, 228);
    border: 2px solid blue;
}


#articles li {
    list-style-type: none;
}


.dark-mode #articles ul {
    border: 2px solid white;
    background-color: black;
}



/* jobs board -------------------------------- */
#jobs {

}

#jobs ul {
    background-color: rgb(235, 230, 228);
    border: 2px solid blue;
}

#jobs li {
    list-style-type: none;
}

#jobs a {
    border: 1px solid black;
}


.dark-mode #jobs ul {
    border: 2px solid white;
    background-color: black;
}

.dark-mode #jobs a {
    border: 1px solid white;
}

/* view jobs button --------------------------*/
#get-jobs {

}

#get-jobs:hover {

}

.dark-mode #get-jobs {
    
}

.dark-mode #get-jobs:hover {
    
}

/* form and button --------------------------*/

form {

}

#post-job {

}

#post-job:hover {

}

.dark-mode #post-job {

}

.dark-mode #post-job:hover {

}